*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--basic);
}

:root{
    --heading: 'Nunito', sans-serif;
    --basic: 'Open Sans', sans-serif;
    --dark: #212529
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
}

h1, h2, h3{
    font-weight: 700;
    text-transform: capitalize;
}

li{
    list-style-type: none;
}

blockquote{
    text-transform: uppercase;
    font-size: 26px;
    font-family: var(--heading);
    font-weight: 800;
    max-width: 500px;
}

/* homepage */
/*styles page's wrapper */
.page_wrapper{
    max-width: 1980px;
    height: 100%;
    display: flex;
    margin: auto;
}

.page_wrapper section{
    width: 50%;
}

/* styles hader of left side */
.bg_header{
    background-color: #7025FB;
    padding: 30px 60px;
}

.bg_header img{
    vertical-align: top;
}

/* background of left side of homepage */
.homepage_bg{
    background-image: url("img/bg/landing-page.png");
}

.bg_img{
    background-size: cover;
    background-repeat: no-repeat;
}

/* background and style of right side of homepage */
.homepage_start{
    background-color: #FD5334;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 0;
}

.start_wrapper{
    padding:0 80px;
}

/* styles right side's heading */
.start_heading{
    font-family: var(--heading);
    color: white;
    text-transform: uppercase;
    font-size: 80px;
    padding-bottom: 100px;
}

/* styles diferent size text in heading */
.start_heading span{
    font-size: 20px;
    font-weight: bold;
    color: var(--dark);
    vertical-align: middle;
    font-family: inherit;
}

/* common style of button */
.btn{
    background-color: var(--dark);
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.5;
    text-decoration: none;
    max-width: 200px;
}

/* purple blue outline on button on hover */
.btn:hover{
    outline: 5px solid #8684ffc7;
}


/* registration form page */
/* background of left side of registration page */
.reg_bg{
    background-image: url("img/bg/registration-page.png");
}

/* styles quotes on background of left side */
.bg_quote{
    padding: 210px 130px;
    font-family: var(--heading);
    text-transform: uppercase;
}

.author{
    display: block;
    color: #E5E6E8;
    font-size: 24px;
    font-style: italic;
    margin: 20px 0;
}

/*wrapper of of registration*/
.reg_container{
    padding:30px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

/* horizotal line after heading */
.reg_container::before{
    content: " ";
    height: 1px;
    width: 100%;
    background-color: rgba(185, 180, 196, 0.3);
    position:absolute;
    top: 83px;
    right: 0
}

/* styles first section of registration info types (personal and xp) */
.reg_info_container{
    display: flex;
    gap: 70px;
    padding: 20px 0;
} 


.reg_info{
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.reg_info>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.info_list{
   color: #95939A;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E5E6E8;
    background-color: #F5F5F5;

}

/* styles active info type */
.active_info {
    background-color: #E9FAF1;
    color: var(--dark);
}

/* types registration form inputs */
.reg_form, .reg_form_list{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.reg_form_list{
    max-height: 500px;
}

.reg_form_list input{
    padding: 8px 15px;
    border: none;
    box-shadow: inset 0px -1px 0px rgb(0 0 0 / 13%);
    outline: none;
    border-radius: 4px;
}

/* if passes validation appears green ckeck tick */
.reg_form_list input:valid {
    background: url("img/validcheck.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 99%;
}

/* bg color when input is on focus */
.reg_form_list input:focus{
    background-color: #E9ECEF;
}

/* styles iregistration pages buttons */
.info_button{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

/* back button, which directs on previouse page */
.info_button .back{
    background-color: #fff;
    outline: var(--dark) solid 1px;
    color: var(--dark);
}

/* changes back button's bg on hover */
.info_button .back:hover{
    background-color: #E5E6E8;
}


/* experiense page */
/* xp pages' background */
.xp_bg{
    background-image: url('img/bg/xp-page.png');
}

/* styles xp lvl and choose character inputs wrapper */
.xp_form_stat{
    display: flex;
    gap: 20px; 
    font-size: 20px;
}

/* styles xp lvl and choose character inputs*/
.xp_form_stat>div{
    width: 40%;
    min-width: 300px;
    padding: 5px 15px;
    box-shadow: inset 0px -1px 0px rgb(0 0 0 / 13%);
    border-radius: 4px;
    position:relative;
}

/* dropdown arro after xp inputs */
.xp_form_stat>div::after{
    content: url('img/downarrow.png');
    position: absolute;
    right: 0;
}

/* on hover arrow after xp inputs changes from down to up */
.xp_form_stat>div:hover:after{
    content: url('img/uparrow.png');
}

/* on hover appears xp inputs list */
.xp_lvl:hover .sub_stat, .stat_char:hover .sub_stat{
    visibility: visible;
    height: auto;
}

/* styles xp lvl and charachters lists box */
.sub_stat{
    visibility: hidden;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    border:1px solid rgb(0 0 0 / 13%);
    text-transform: capitalize;
    padding: 10px;
    overflow: hidden;
}

/* styples xp input list's item */
.sub_stat li{
    padding: 5px 15px;
}

/* on hover xp lvl item changes bg and font weight */
.sub_stat li:hover{
    background-color: #F7F7F9;
    font-weight: 700;
}

#charItems li{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#charItems>span{
    padding: 0 15px;
    font-size: 14px;
    color: #817D7D;;
}

.xp_form_list label {
    margin-right: 20px;
}

.xp_form_list p{
    font-family: var(--heading);
    font-size: 20px;
    padding: 20px 0;
}

input[radio]{
    scale: 1.5;
}

.final_bg{
    background-image: url('img/bg/final_page.png');
}

.reg_complete{
    position: relative;
}

.reg_complete img{
    position: absolute;
    top: calc(50% - 201px);
    right: calc(50% - 230px);
}